.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-small);
  height: var(--header-height);
  text-transform: lowercase;
}

.link {
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 5rem;
  }

  &:link,
  &:visited,
  &:active,
  &:focus {
    color: inherit;
  }
}
