/* JOBS */
.job {
  font-size: var(--font-medium);
  padding: .7rem;
  border-radius: 5px;
  background-color: var(--color-3);

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.company {
  margin-bottom: 0.5rem;
  &__name {
    font-weight: 700;
  }
}

.work {
  font-size: var(--font-small);
  
  &__title {

  }

  &__dates {

  }

  &__desc {

  }
}
