@import "../../sass/main.scss";

.about {
  font-family: "Nunito", sans-serif;
}

.about__section {
  width: 55%;
  margin: 11rem auto;
}

.about__question {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-5);
  color: var(--color-white);
  font-size: var(--font-big);
  height: 30rem;
}

.about__heading {
  color: var(--color-2);
  font-size: var(--font-big);
  font-weight: 700;
  text-transform: lowercase;
  margin-bottom: 1.5rem;
  display: inline-block;
  background-color: var(--color-1);
  border-radius: 5px;
  padding: 0.5rem;
}

.about__desc {
  font-size: var(--font-small);
  color: var(--color-gray);
  line-height: 1.7;
}
